.App{
  text-align: center;
  font-family: Arial,sans-serif;

}
header{
  color:white;
  background-color: slategrey;
  padding: 20px;
}
footer{
  color:white;
  background-color: slategray;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}